@import "tailwindcss";
@import "tailwindcss-animated";
@import "aos/dist/aos.css";

@source "../js/**/*.vue";
@source "../js/**/*.ts";
@source "../views/**/*.blade.php";

html {
  zoom: 0.8;
}

.h-screen {
  height: 125vh;
}

.min-h-screen {
  min-height: 125vh;
}
